@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");

body {
  background-color: #ffeaa7;
  font-family: "Source Code Pro", monospace;
}

.fact {
  font-size: 1.4rem;
}

.intro {
  font-size: 1.1rem;
}

.btn {
  letter-spacing: 0.1rem;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
}

.card {
  border: none;
}

h1 {
  font-size: 1.6rem;
}

.image-wrapper img {
  width: 100%;
  height: auto;
  max-width: 450px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }

  .intro {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
